<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    
   <div class="home">
       <h1>{{title}}</h1>
        {{>header}}
       <div class="inners"><p>Note: {{desc}}</p>
       <form>
           <input placeholder="Enter a location to search" type="text">
           <button>Submit</button>
       </form>
       <div><h4 id="loading"></h4></div>
<div class="icons"><i class="fas fa-clock"><span id="message-5"></span></i></div>

<div class="icons">      <i class="fas fa-map-marker" aria-hidden="true"> <span id="message-1"></span></i>
</div>
      
<div class="icons"><i class='fa fa-cloud'><span id="message-2"></span></i>


<div class="icons"><i class='fas fa-burn'> <span id="message-3"></span></div></i>
<div class="icons"><i class='fas fa-wind'> <span id="message-4"></span></div></i>
<div class="icons"><i class='fas fa-temperature-high'> <span id="message-6"></span></div></i>



</div>
   
       
       
       
       </div>
       {{>footer}}
       <script src="/js/app.js"></script>
       
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
   </div>

</body>
</html>